@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-clip-path {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 70%,
    50% 100%,
    50% 100%,
    0% 70%,
    0 0
  );
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 70%,
    50% 100%,
    50% 100%,
    0% 70%,
    0 0
  );
}

.clipped-shadow {
  filter: drop-shadow(11px 17px 0px rgba(15, 15, 15, 0.96));
}
.icon-shadow {
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.96));
}
.icons-wrapper > * {
  width: 75px;
}
.custom-shape-divider-bottom-1722873353 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722873353 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.custom-shape-divider-bottom-1722873353 .shape-fill {
  fill: #f5f6f8;
}
